@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

* {
	font-family: 'Source Code Pro', sans-serif;
}

body{
	background: url("katbinxsite.jpg");
}

a, u {
    color: #fff;
}

#page{
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
	margin-top: 200px;
}

@media screen and (max-width: 450px) {
	#page {
		margin-top: 100px;
		width: 98%;
	}
}